{% extends "swift/layout/user_base.html" %} {% load static %} {% block body_block %}
<div class="content-inner full-screen">
    <div class="page-block">
       
        <div class="d-flex justify-content-between">
            <h1 class="page-block-title">Add Tool Template</h1>
            
        </div>

        <div>
            <form method="post" action="" id="toolTemplateInputForm" >
                {% csrf_token %}
                
                <div class="prompt-form" id="prompt-out-form-div">
                    <div class="formbg-inner">
                            <input type="hidden" value="{% url 'appswift:tooltemplate_create' %}" id="form_url" name="form_url">
                        <div class="edit-prompt-form">
                         <div class="col-lg-6">
                            <div class="field padding-bottom--24">
                                <label for="name">Tool Type</label> {{form.tool_type}}
                                <p class="text-danger mt-2 mb-0">{{ form.tool_type.errors.as_text  }}</p>
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="name">Name</label> {{form.tool_name}}
                                <p class="text-danger mt-2 mb-0">{{ form.tool_name.errors.as_text  }}</p>
                            </div>

                            <div class="field padding-bottom--24">
                                <label for="name">tool context</label> {{form.tool_context}}
                                <p class="text-danger mt-2 mb-0">{{ form.tool_context.errors.as_text  }}</p>
                            </div>
                                
                            <div class="field padding-bottom--24">
                                <label for="name">Youtube_link</label> {{form.youtube_link}}
                                <p class="text-danger mt-2 mb-0">{{ form.youtube_link.errors.as_text  }}</p>
                            </div>
                         </div>



                            <div class="d-flex justify-content-between">
                                <h1 class="page-block-title">Inputs</h1>
                            </div>    

                            <div class="row" >
                               
                                {{ item_formset.management_form }}
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Input</th>
                                      <th>Input Details</th>
                                      <th>Validation Message</th>
                                      <th>Sort Order</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for form in item_formset.forms %}
                                    <tr class=" form_set_row " id="dynamic_formset_row_{{ form.prefix }}">
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        {{form.id}}
                                      <td >{{ form.tool_input }}</td>
                                      <td>
                                        <a class="add-input-details create_input_details" data-prefix="{{ form.prefix }}" data-fancybox="" data-src="#inputdetails-popup-{{ form.prefix }}" data-url="{% url 'appswift:tooltemplate_input_create' %}">
                                          <button type="button" class="btn btn-primary">Add More details</button>
                                        </a>
                                        <div class="add-inputdetails" id="inputdetails-popup-{{ form.prefix }}" style="display:none;">
                                          <div class="pop-body" id="inputdetails-div-{{ form.prefix }}">
                                            <div class="formbg-inner">
                                              <h2 class="padding-bottom--15" id="popup_head-{{ form.prefix }}">Add Input Details</h2>
                                              <div class="inputdetails-form" id="inputdetails-form-div-{{ form.prefix }}">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                      <td >{{ form.validation_message }}</td>
                                      <td >{{ form.sort_order }}</td>
                                      
                                      
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>


                            </div>
                           


                            <div class="field padding-bottom--24">
                                <input class="tooltemplate-submit" id="tooltemplate-submit" type="submit" name="submit" value="Save">
                            </div>
                        </div>


                       


                    </div>
                </div>
            </form>
        </div>
    </div>

    


</div>
</div>
{% endblock body_block %} 
{% block page_script %}
<script src="{% static '/swift/assets/js/tooltemplate.js' %}?v={% now 'd_m_yH:i:s'%}"></script>
<script src="{% static '/swift/assets/js/formset.js' %}?v={% now 'd_m_yH:i:s'%}"></script>

<script>
    $(document).ready(function () {
       
      $('.form_set_row').formset({
            addText: '<span>Add Input</span>',
            deleteText: 'remove',
            prefix: '{{ item_formset.prefix }}',
            formCssClass: 'dynamic-formset',
            added: function (row) {
              
                
            },
        });
    });
    
</script>

{% endblock page_script %}